<<<<<<< HEAD
@import '~antd/dist/antd.css';
@import 'styles/App.css';
@import 'styles/TopNavBar.css';
@import "styles/ShotChart.css";
@import "styles/Profile.css";
@import "styles/Main.css";
@import "styles/DataViewContainer.css";
@import "styles/SearchBar.css";


=======
>>>>>>> 72c901cf103bd4ed63d016cf372636d4d414102b
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
